<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    
    <title>BLogger</title>
    <link rel="icon" type="image/ico" href="https://static.thenounproject.com/png/19895-200.png">
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
    
    <div class="ui fixed inverted menu">
        <div class="ui container">
                <div class="header item">
                        <i class="fas fa-blog"></i>
                        BLogger
                 </div>
                      <a href="/" class="item">Home</a>
                      <a href="/blogs/new" class="item">New Post</a>
        </div>
        
      </div>